<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Market POI </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Google Webfont -->
  <link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
  <!-- Themify Icons -->
  <link rel="stylesheet" href="../css/themify-icons.css">
  <!-- Icomoon Icons -->
  <link rel="stylesheet" href="../css/icomoon-icons.css">
  <link rel="stylesheet" href="../fonts/fa/css/font-awesome.min.css" title="font-awesome">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="../css/bootstrap.css">
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="../css/owl.carousel.min.css">
  <link rel="stylesheet" href="../css/owl.theme.default.min.css">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="../css/magnific-popup.css">
  <!-- Easy Responsive Tabs -->
  <link rel="stylesheet" href="../css/easy-responsive-tabs.css">
  <!-- Theme Style -->
  <link rel="stylesheet" href="../css/style.css">


  <!-- FOR IE9 below -->
  <!--[if lte IE 9]>
  <script src="js/modernizr-2.6.2.min.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->

</head>
<body id="io_outer">
  <header id="io-header" role="banner">

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
            <a href="#" class="js-io-nav-toggle io-nav-toggle" data-toggle="collapse" data-target="#io-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                          <a class="navbar-brand" href="../index.html">MARKETPOI</a>
          </div>
          <div id="io-navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Page One</a></li>
              <li><a href="../../template/default.html">Page Two</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../template/signup/LogOn2.php" target="_blank" class="btn btn-calltoaction btn-primary">Login</a></li>
              <li><a href="../template/signup/Users_db2.php" target="_blank" class="btn btn-calltoaction btn-primary">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </nav>

  </header>

  <div id="io-page-title" style="background-image: url(images/hero_2.jpg)">
    <div class="overlay"></div>
    <div class="container">
      <div class="text">
        <h1>Undercover Advertising</h1>
      </div>
    </div>
  </div>

  <main role="main" id="io-main">
    <div class="container">
      <div class="row">
        <div class="col-md-3" id="io-sidebar">
          <div class="io-side-block">
            <h3> Navigation </h3>
            <ul class="io-links">
              <li class="active"><a href="#" target="_blank">Undercover Advertising</a></li>
              <li><a href="../../template/wild_posting_advertising.html" target="_blank">WildPosting Advertising</a></li>
              <li><a href="../../template/pay_click_advertising.html" target="_blank">Pay-Per-Click Advertising</a></li>
              <li><a href="../../template/optimize.html" target="_blank">Optimize Websites</a></li>
              <li><a href="../../template/tissue_paper_advertising.html" target="_blank">Tissue Paper Advertising</a></li>
            </ul>
          </div>
          <div class="io-side-block">
            <h3>Descrition</h3>
            <p>
              Brief description about your text
            </p>
          </div>

        </div>
        <div class="col-md-8 col-md-push-1" id="io-content">

          <div class="row">
            <div class="col-md-12">
              <h2>A step-by-step guide for creating an undercover marketing campaign for your business</h2>
              </div>
            <div class="col-md-6">
              <p>Undercover marketing, also known as buzz marketing or word-of-mouth
                marketing, is a style of marketing best suited at developing a product’s
                attractiveness and renown with a low-profile method of advertising.
                Imagine you’re at a sports convention and you notice a famous athlete
                sporting a set of trendy activewear from a brand you haven’t really heard of.
                During his conversations surrounded by fans, he continually, but ever so subtly,
                mentions the brand of activewear that he’s wearing, as something that enhances his performance
                or improves his gameplay. Eventually, some of these fans would take note of this new,
                high performing line of sportswear and talk amongst their friends about the brand and
                these friends would talk amongst their friends. What this athlete is accomplishing is
                a form of undercover marketing whereby using a sense of fame and credibility,
                they increase product/brand awareness in a way that does not seem like advertising.
                Undercover marketing is a unique tool that enables a company to increase brand awareness
                in an organic manner without pushing too hard on the potential consumers.
                Here are some tips and tricks to establish your very own undercover marketing campaign:</p>
                <p>
                 <strong>Step 1:</strong>
                 Determine your target audience. Without first understanding who
                 you will be advertising to, you will not be able to develop
                 an effective marketing plan.</p>
                <p>
                  <strong>Step 2:</strong>
                  Hire someone that can connect with your target audience. This is of high importance,
                  since the person or persons you intend to hire in your undercover marketing campaign
                  should be someone that the target audience can deem credible or authentic.
                </p>

            </div>
            <div class="col-md-6">


              <p>
                <strong>Step 3: </strong>
                Determine the venue or venues where you will be sending your
                undercover marketer. Make sure that these events have potential
                consumers that have the highest likelihood of becoming a customer for your business.
              </p>
              <p>
                <strong>Step 4: </strong>
                 Develop a plan-of-attack on how your undercover marketer(s)
                 will approach consumers. Make sure that they are not too aggressive
                 in their advertising tactics or else people will suspect that
                 they are representatives from your company and disvalidate their credibility.
              </p>
              <p>
                <strong> Step 5: </strong>
                Place your marketers in key events where your target audience
                should be. Choose events or locations they are most likely to
                frequent, including conventions, concerts, parties, venues, etc.
              </p>
              <p>
                <strong>Step 6: </strong>
                Repeat the process steps 2-4 again, but with different undercover
                marketers. This will prevent people from getting too suspicious of
                your marketers. Remember, once they become aware that these people
                are paid marketers, conversations between the two will not seem as
                organic and your marketer will not advertise your business as effectively.

              </p>
            <p>
            <strong>  Step 7: </strong> Sit back and reap the benefits.

            </p>
            </div>
          </div>
          <div class="io-spacer io-spacer-sm"></div>
          <p><img src="images/big_image.jpg" alt="Image" class="img-responsive"></p>
          <div class="io-spacer io-spacer-sm"></div>
          <div class="row">

            <div class="col-md-12">
              <h3>Overview</h3>
              <p>
                Guerilla marketing techniques, although quite experimental,
                can provide highly efficient marketing campaigns at very low margins.
                Undercover marketing is a very popular style of guerilla marketing
                that invokes an increase in brand awareness by creating organic
                exposure to a product, like a friend telling you about a good movie.
                Undercover marketing capitalizes on the human desire to share common
                interests with friends and acquaintances. People who think they’ve
                found an amazing product or brand on their own will, more often than not,
                go out of their way to spread positive messages on that item or company.
                But if a person feels as if someone or something is trying to sell them a
                product, they will instinctively become defensive. This style of marketing
                prevents consumers from raising their guard by developing organic, casual conversations,
                akin to something you would have with a friend. To have a successful undercover
                marketing campaign, you need to have an enthusiastic marketer to advertise
                your product. The people you choose will determine the effectiveness of this
                type advertising method, so choose wisely, and you will soon be seeing the a sudden
                increase to the outreach of your company.
              </p>
            </div>
            <div class="col-md-12">
              <h3>Tips</h3>
              <p>
                -Undercover marketing works well for small companies with small
                advertising budgets or large companies that want to develop brand
                awareness without bombarding the consumer with adverts. -You don’t
                need a celebrity to market your product or brand when using undercover marketing.
                Simply use someone your target consumer can validate as an authentic or
                credible source to gain their information. You can hire enthusiastic marathon
                runners to attend several different running events to market an athletic shoe
                line by developing organic, casual conversations with other runners.
                -The word-of-mouth aspect of undercover marketing is one of the strongest asset
                provided by this marketing technique. People like to hear and interact with
                like-minded individuals in person, rather than someone they see behind a screen.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- This starts the footer -->
    <footer role="contentinfo" id="io-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="footer-box border-bottom">
              <h3 class="footer-heading">About MarketPOI Inc.</h3>
              <p> A website to keep track of all your business needs. </p>
            </div>

              <h3 class="footer-heading">Sign Up!</h3>
              <form action="#" class="form-subscribe">
                <div class="field">
                  <input type="email" class="form-control" placeholder="hello@gmail.com">
                  <button class="btn btn-primary">Sign Up!</button>
                </div>
              </form>
              <div class="io-spacer io-spacer-sm"></div>

          </div>
          <div class="col-md-3 col-sm-6"></div>


          <div class="visible-sm clearfix"></div>


          <div class="col-md-2 col-sm-6">

              <h3 class="footer-heading">Categories</h3>
              <ul class="footer-list">
                <li><a href="#"><abbr title="Business Budget">Business Budget</abbr></a></li>
                <li><a href="#"><abbr title="Ad Campaigns">Ad Campaigns</abbr></a></li>
                <li><a href="https://www.intuit.com/" target="_blank">Intuit</a></li>


              </ul>

          </div>


          <div class="col-md-4 col-sm-6 clearfix">

            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="footer-box">
                  <h3 class="footer-heading">Get in Touch</h3>
                  <ul class="footer-list">
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>

                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="footer-box">
                  <h3 class="footer-heading">Support</h3>
                  <ul class="footer-list">
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Knowledgebase</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">SiteMap</a></li>


                  </ul>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              <p class="text-center"><small>Developer:
              <a href="http://www.rommelfowler.com">Rommel Fowler</a> <br> &copy; 2016 </small></p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Go To Top -->
      <a href="#" class="io-gotop"><i class="ti-shift-left"></i></a>


      <!-- jQuery -->
      <script src="js/jquery-1.10.2.min.js"></script>
      <!-- jQuery Easing -->
      <script src="js/jquery.easing.1.3.js"></script>
      <!-- Bootstrap -->
      <script src="js/bootstrap.js"></script>
      <!-- Owl carousel -->
      <script src="js/owl.carousel.min.js"></script>
      <!-- Magnific Popup -->
      <script src="js/jquery.magnific-popup.min.js"></script>
      <!-- Easy Responsive Tabs -->
      <script src="js/easyResponsiveTabs.js"></script>
      <!-- FastClick for Mobile/Tablets -->
      <script src="js/fastclick.js"></script>
      <!-- Google Map -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
      <script src="js/google_map.js"></script>
      <!-- Main JS -->
      <script src="js/main.js"></script>


</body>
</html>
