<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Market POI </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Google Webfont -->
  <link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
  <!-- Themify Icons -->
  <link rel="stylesheet" href="../css/themify-icons.css">
  <!-- Icomoon Icons -->
  <link rel="stylesheet" href="../css/icomoon-icons.css">
  <link rel="stylesheet" href="../fonts/fa/css/font-awesome.min.css" title="font-awesome">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="../css/bootstrap.css">
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="../css/owl.carousel.min.css">
  <link rel="stylesheet" href="../css/owl.theme.default.min.css">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="../css/magnific-popup.css">
  <!-- Easy Responsive Tabs -->
  <link rel="stylesheet" href="../css/easy-responsive-tabs.css">
  <!-- Theme Style -->
  <link rel="stylesheet" href="../css/style.css">


  <!-- FOR IE9 below -->
  <!--[if lte IE 9]>
  <script src="js/modernizr-2.6.2.min.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->

</head>
<body id="io_outer">
  <header id="io-header" role="banner">

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
            <a href="#" class="js-io-nav-toggle io-nav-toggle" data-toggle="collapse" data-target="#io-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                          <a class="navbar-brand" href="../index.html">MARKETPOI</a>
          </div>
          <div id="io-navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Page One</a></li>
              <li><a href="../../template/default.html">Page Two</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../template/signup/LogOn2.php" target="_blank" class="btn btn-calltoaction btn-primary">Login</a></li>
              <li><a href="../template/signup/Users_db2.php" target="_blank" class="btn btn-calltoaction btn-primary">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </nav>

  </header>

  <div id="io-page-title" style="background-image: url(images/hero_2.jpg)">
    <div class="overlay"></div>
    <div class="container">
      <div class="text">
        <h1>Undercover Marketing</h1>
      </div>
    </div>
  </div>

  <main role="main" id="io-main">
    <div class="container">
      <div class="row">
        <div class="col-md-3" id="io-sidebar">
          <div class="io-side-block">
            <h3> Navigation </h3>
            <ul class="io-links">
              <li class="active"><a href="#" target="_blank">Undercover Advertising</a></li>
              <li><a href="../../template/wild_posting_advertising.html" target="_blank">WildPosting Advertising</a></li>
              <li><a href="../../template/pay_click_advertising.html" target="_blank">Pay-Per-Click Advertising</a></li>
              <li><a href="../../template/optimize.html" target="_blank">Optimize Websites</a></li>
              <li><a href="../../template/tissue_paper_advertising.html" target="_blank">Tissue Paper Advertising</a></li>
            </ul>
          </div>
          <div class="io-side-block">
            <h3>Descrition</h3>
            <p>
              Brief description about your text
            </p>
          </div>

        </div>
        <div class="col-md-8 col-md-push-1" id="io-content">

          <div class="row">
            <div class="col-md-12">
              <h2>A step-by-step guide for creating an astroturf marketing campaign for your business</h2>
              </div>
            <div class="col-md-6">
              <p>
                Wild posting advertising involves a rather inexpensive form of marketing
                your business, which can garner massive outreach when you wildly post in
                high traffic or key locations. Traditionally, wild posting advertising calls
                for the plastering of advertisements for your business, typically posters,
                throughout street alleyways, on the sides of buildings, through construction
                site walkways, or any surface where people are likely to traffic.
                This form of guerilla marketing requires relatively low overhead costs,
                since most of the spaces you’ll be placing your postings will typically
                be free of cost. The pitfall to avoid is the legality of where you will be
                posting, since some buildings and locations prohibit the solicitation of
                advertisements on their building walls. Business owners have circumvented
                this problem by replacing their posters on the building walls whenever
                they have been torn down. H ere are some tips and steps to starting your
                astroturf marketing campaign:
              </p>
                <p>
                 <strong>Step 1:</strong>
                 Develop and create the visuals you’ll be posting throughout high
                 traffic areas. Since people will be passing through these areas
                 quickly, consider an eye catching image with large bolded words.
                 Images with too many words will most often be ignored by pedestrians.</p>
                <p>
                  <strong>Step 2:</strong>
                  Determine the size of your posters. Make it too large, and other
                  business will cover parts of your poster and the message you are
                  trying to send consumers about your business will be lost. The
                  size of your poster can also convey additional meaning and
                  symbolism about your business as it is presented to consumers.
                </p>

            </div>
            <div class="col-md-6">


              <p>
                <strong>Step 3: </strong>
                Now that you have your posters completely created, plan and map out the locations you’ll be setting your wild posting campaign. Some high traffic areas may be better than others for your business. Also consider that the legality of posting on certain types of buildings.
              </p>
              <p>
                <strong>Step 4: </strong>
                Wait a few days to a few weeks and check back in on the locations you set up your wild posting campaign. Determine which areas your advertisements were overwhelmed by other advertisements and areas in which your posters were still in good condition.
              </p>
              <p>
                <strong> Step 5: </strong>
Plan and map out the locations you’ll be setting your wild posting campaign based on how well your posters marketed your business. These locations can be new locations or old locations that you deemed successful areas.
              </p>
              <p>
                <strong>Step 6: </strong>
              Take note of the new business you’ll be getting. You’ve just reached out to a larger audience. So sit back and reap the benefits.

              </p>

            </div>
          </div>
          <div class="io-spacer io-spacer-sm"></div>
          <p><img src="images/big_image.jpg" alt="Image" class="img-responsive"></p>
          <div class="io-spacer io-spacer-sm"></div>
          <div class="row">

            <div class="col-md-12">
              <h3>Overview</h3>
              <p>
                Wild posting advertising is a supplemental marketing technique used to promote businesses in large urban areas. Although you may not reach out to as massive a number of individuals as other guerilla marketing methods, wild posting advertising has very inexpensive overhead costs and requires much less work. The majority of costs come from printing the posters consumers will be viewing during their commute or trip to the store. This style of marketing is best used in tandem with other marketing techniques. Alone, wild posting advertising may not garner impressive results, but every little outlet you decide to market your business will help in the long run to reach out to a larger number of potential customers.
              </p>
            </div>
            <div class="col-md-12">
              <h3>Tips</h3>
              <p>
  -Wild posting advertising campaigns are one of the least expensive forms of marketing. Supplement your other advertising campaigns with a wild posting campaign to maximize the reach of your business. -The location and aesthetic of your visuals will make a large impact on how successful your campaign will be.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- This starts the footer -->
    <footer role="contentinfo" id="io-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="footer-box border-bottom">
              <h3 class="footer-heading">About MarketPOI Inc.</h3>
              <p> A website to keep track of all your business needs. </p>
            </div>

              <h3 class="footer-heading">Sign Up!</h3>
              <form action="#" class="form-subscribe">
                <div class="field">
                  <input type="email" class="form-control" placeholder="hello@gmail.com">
                  <button class="btn btn-primary">Sign Up!</button>
                </div>
              </form>
              <div class="io-spacer io-spacer-sm"></div>

          </div>
          <div class="col-md-3 col-sm-6"></div>


          <div class="visible-sm clearfix"></div>


          <div class="col-md-2 col-sm-6">

              <h3 class="footer-heading">Categories</h3>
              <ul class="footer-list">
                <li><a href="#"><abbr title="Business Budget">Business Budget</abbr></a></li>
                <li><a href="#"><abbr title="Ad Campaigns">Ad Campaigns</abbr></a></li>
                <li><a href="https://www.intuit.com/" target="_blank">Intuit</a></li>


              </ul>

          </div>


          <div class="col-md-4 col-sm-6 clearfix">

            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="footer-box">
                  <h3 class="footer-heading">Get in Touch</h3>
                  <ul class="footer-list">
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>

                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="footer-box">
                  <h3 class="footer-heading">Support</h3>
                  <ul class="footer-list">
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Knowledgebase</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">SiteMap</a></li>


                  </ul>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              <p class="text-center"><small>Developer:
              <a href="http://www.rommelfowler.com">Rommel Fowler</a> <br> &copy; 2016 </small></p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Go To Top -->
      <a href="#" class="io-gotop"><i class="ti-shift-left"></i></a>


      <!-- jQuery -->
      <script src="js/jquery-1.10.2.min.js"></script>
      <!-- jQuery Easing -->
      <script src="js/jquery.easing.1.3.js"></script>
      <!-- Bootstrap -->
      <script src="js/bootstrap.js"></script>
      <!-- Owl carousel -->
      <script src="js/owl.carousel.min.js"></script>
      <!-- Magnific Popup -->
      <script src="js/jquery.magnific-popup.min.js"></script>
      <!-- Easy Responsive Tabs -->
      <script src="js/easyResponsiveTabs.js"></script>
      <!-- FastClick for Mobile/Tablets -->
      <script src="js/fastclick.js"></script>
      <!-- Google Map -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
      <script src="js/google_map.js"></script>
      <!-- Main JS -->
      <script src="js/main.js"></script>


</body>
</html>
